# Ignore python cache files
*__pycache__/
*.py[cod]
*.sw[op]

# ignore the database
db.sqlite3
.coverage

# ignore staticfiles for whitenoise
staticfiles/

# ignore ycm settings
.ycm_extra_conf.py

# ignore tasks
task.md
