body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  background-color: #eef4e8;
  min-height: 100vh;
}
a {
  color: #39B0A3;
  text-decoration: none;
}
input, select, textarea {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  border: 2px solid #39B0A3;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 6px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 23px;
}
#container {
  min-height: 100vh;
  padding: 0 24px;
}
#container > div {
  max-width: 1200px;
  margin: 0 auto;
}
#content {
  padding-top: 60px;
}
#footer {
  margin: 20px auto;
  height: 100%;
  font-size: 0.8em;
  text-align: center;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  margin: 24px 0;
  padding: 24px;
}
/* button */
.button {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  background-color: #39B0A3;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  margin: 12px;
  border-radius: 8px;
}
#buttons {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
#buttons .button {
  margin-left: 0;
}
/* title */
#title {
  text-align: center;
  margin-bottom: 1.6em;
}
#title h1, #title h2, #title h3 {
  margin: 0;
}
#title .helptext {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.helptext {
  color: #888;
  font-size: 0.9em;
}
.errorlist {
  color: red;
  font-size: 0.8em;
}
/* table */
.table {
  border-collapse: collapse;
  width: 100%;
}
.table tr:nth-child(odd) {
  background-color: #B9EBE5;
}
.table th, .table td {
  padding: 10px;
  text-align: left;
}
.table td {
  vertical-align: top;
}
/* checkbox */
ul > li > label {
  position: relative;
  padding-left: 31px;
  line-height: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
}
label input[type="checkbox"] ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid #39B0A3;
  border-radius: 7px;
  background-color: #FFF;
}
label:hover input[type="checkbox"] ~ .checkmark {
  background-color: #DBF7F4;
}
input[type="checkbox"] ~ .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid #39B0A3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
li.addition {
  margin-top: 5px;
}
a.new-pasien {
  position: relative;
  padding-left: 31px;
}
a.new-pasien .plus:after {
  content: "";
  position: absolute;
  transform: translate(8px, 2px);
  width: 2px;
  height: 14px;
  background: #39B0A3;
}
a.new-pasien .plus:before {
  content: "";
  position: absolute;
  transform: translate(2px, 8px);
  width: 14px;
  height: 2px;
  background: #39B0A3;
}
a.new-pasien .plus {
  position: absolute;
  border: 2px solid;
  width: 18px;
  height: 18px;
  border-radius: 7px;
  position: absolute;
  left: 0;
  top: 0px;
}
/* general */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.mobile-only {
  display: none !important;
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
  input, select, textarea {
    font-size: 15px;
  }
  #container {
    padding: 0;
  }
  #content {
    padding-top: 50px;
  }
  .card {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
}
