th.nama-pasien, th.nama-kepala-keluarga {
  width: 50%;
}
#buttons {
  display: block;
}
#buttons p {
  margin-bottom: 0;
}
#popup {
  display: none;
}
#popup-card {
  position: fixed;
  padding: 15px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 10px;
}
#popup-card table {
  border-collapse: collapse;
}
#popup-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#popup-card th, td {
  padding-bottom: 5px;
}
#popup-card th {
  padding-right: 5px;
  text-align: left;
  vertical-align: top;
}
@media (max-width: 600px) {
  #popup-card {
    width: 90%;
  }
}
