.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  border-collapse: collapse;
}
th {
  vertical-align: top;
  text-align: left;
  padding: 7px 20px 0 0;
}
td {
  display: flex;
  flex-direction: column;
}
.field {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
select[name="jenis_kelamin"], select[name="status"] {
  width: 100%;
}
td input {
  width: 100%;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: auto;
}
.required:after {
  content: "*";
  color: #E84A4A;
}
.not-required {
  color: #888;
  font-weight: normal;
}
.info {
  margin: 0 0 10px 0;
}
#error {
  /* salah masuk.html */
  color: red;
  font-size: 0.8em;
}
.cancel {
  background-color: #E84A4A;
}
@media (max-width: 600px) {
  th {
    display: table-row;
  }
  td {
    display: table-row;
  }
  input, select {
    margin: 3px 0;
  }
  .field {
    width: 268px;
  }
}
