#tr-waktu, #tr-tanggal, #tr-pasien {
  display: none;
}
.pesan th {
  vertical-align: top;
  text-align: left;
}
#tr-tempat > th {
  width: 100px;
}
#in-table {
  border-collapse: separate;
  border-spacing: 6px;
}
#in-table th, #in-table td {
  width: 64px;
  padding: 8px;
  text-align: center;
}
#in-table .cell {
  color: #FFF;
  cursor: pointer;
  padding: 8px;
  background-color: #39B0A3;
}
#in-table .waktu, #in-table .hari {
  text-align: left;
  background-color: #B9EBE5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
