#tr-waktu, #tr-tanggal, #tr-pasien {
  display: none;
}
#out-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
#out-table th {
  width: 96px;
  vertical-align: top;
  text-align: left;
}
.scroll {
  overflow-x: auto;
}
#in-table {
  border-collapse: separate;
  border-spacing: 6px;
}
#in-table td {
  min-width: 64px;
  padding: 8px;
  text-align: center;
}
#in-table .cell {
  color: #FFF;
  cursor: pointer;
  padding: 8px;
  background-color: #39B0A3;
}
#in-table .waktu, #in-table .hari {
  text-align: left;
  background-color: #B9EBE5;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 600px) {
  #out-table th {
    width: 72px;
  }
  #in-table td {
    min-width: 54px;
  }
