#name-card {
  display: flex;
  background-color: #B9EBE5;
  justify-content: center;
}
#name-card div {
  margin-right: 40px;
}
#name-card div img {
  height: 18px;
}
#name-card h1 {
  margin: 10px 0 0 0;
}
