<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antri</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'antri/media/logo-gigi.ico' %}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'antri/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'antri/css/header.css' %}">
<style>
body {
  background-color: #EEF4E8;
}
.navback {
  background-color: #39B0A3;
}
select {
  background: url({% static 'antri/media/chevron-down-solid.svg' %}) right 8px center / 12px no-repeat;
}
</style>
    {% block style %}{% endblock %}
  </head>
  <body>
    {% include 'antri/header.html' %}
    <div class="spacing spacing-content">
      <div class="content">
        {% block content %}
        <p>Blank Content</p>
        {% endblock %}
      </div>
      <div class="footer">
        {% if request.user.is_authenticated %}
        <a href="{% url 'antri:keluar' %}">Keluar</a>{% endif %}
        <p>Dibuat oleh M. Oktoluqman F.</p>
      </div>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
