{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'antri/css/beranda.css' %}">
<link rel="stylesheet" href="{% static 'antri/css/name-card.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
{% include 'antri/name-card.html' %}
<div class="card">
  <h3>{{ date }}</h3>
  <table id="antri"></table>
  {% if logged_in %}
  <a class="button" onclick="show_popup()">+ Daftar Antri Hari Ini</a>
  <a class="button" href="{% url 'antri:daftar-antri' %}">+ Daftar Antri Hari Lain</a>
  {% else %}
  <p>Silahkan masuk / daftar terlebih dahulu:</p>
  <a class="button" href="{% url 'antri:masuk' %}">Masuk</a>
  <a class="button" href="{% url 'antri:daftar' %}">Daftar</a>
  {% endif %}
</div>
<div id="popup">
  <div id="cover" onclick="hide_popup()"></div>
  <div id="popup-card" onclick="show_popup()">
    <form method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>Hari, Tanggal:</th>
          <td>{{ date }}</td>
        </tr>
        <tr>
          <th>
            {{ form.pasien_set.label }}
          </th>
          <td>
            {{ form.pasien_set.errors }}
            <ul>
              {% for option in form.pasien_set %}
              <li>{{ option }}</li>
              {% endfor %}
              <li><a href="{% url 'antri:pasien-daftar' %}">+ Daftar Pasien Baru</a></li>
            </ul>
          </td>
        </tr>
      </table>
      <input class="button" type="submit" name="antri" value="+ Daftar Antri Hari Ini">
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>{# offline backup #}
<noscript>Please enable javascript.</noscript>
<script>
  var get_antri_url = '{% url 'antri:get-antri' %}'
</script>
<script src="{% static 'antri/js/beranda.js' %}"></script>
{% endblock %}
