{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'antri/css/beranda.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'antri/css/name-card.css' %}">
{% endblock %}

{% block content %}
{% include 'antri/name-card.html' %}
<div class="card">
  <h3>{{ date }}</h3>
  <table id="antri"></table>
  {% if logged_in %}
  <a class="button" onclick="show_popup()">+ Daftar Antri Hari Ini</a>
  <a class="button" href="{% url 'antri:daftar-antri' %}">+ Daftar Antri Hari Lain</a>
  {% else %}
  <p>Silahkan masuk / daftar terlebih dahulu:</p>
  <a class="button" href="{% url 'antri:masuk' %}">Masuk</a>
  <a class="button" href="{% url 'antri:daftar' %}">Daftar</a>
  {% endif %}
</div>
<div id="popup">
  <div id="cover" onclick="hide_popup()"></div>
  <div id="popup-card" onclick="show_popup()">
    <form method="post">
      {% csrf_token %}
      <table>
        <tr>
          <th>Hari, Tanggal:</th>
          <td>{{ date }}</td>
        </tr>
        {{ form }}
      </table>
      <input class="button" type="submit" name="antri" value="+ Daftar Antri Hari Ini">
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>{# offline backup #}
<noscript>Please enable javascript.</noscript>
<script>
function antri() {
  $.ajax({
    url: '{% url 'antri:get-antri' %}',
    method: 'GET',
    data: {},
    success: function(result) {
      console.log(result)
      var table = document.getElementById('antri')
      var tbody = document.createElement('tbody')
      table.appendChild(tbody)

      var tr = document.createElement('tr')
      tbody.appendChild(tr)

      if (result.data !== null) {
        for (var head of result.table_head) {
          var th = document.createElement('th')
          th.className = head.toLowerCase().replace(/ /g, '-').replace('.', '')
          th.appendChild(document.createTextNode(head))
          tr.appendChild(th)
        }

        for (var x = 0; x < result.data.length; x++) {
          var tr = document.createElement('tr')
          tbody.appendChild(tr)

          for (y in result.data[x]) {
            var td = document.createElement('td')
            td.appendChild(document.createTextNode(result.data[x][y]))
            tr.appendChild(td)
          }
        }
      } else {
        var td = document.createElement('td')
        td.appendChild(document.createTextNode('Belum ada yang mendaftar'))
        tr.appendChild(td)
      }
    },
    error: function(a, b) {
      console.log(a)
      console.log(b)
    }
  })
}

antri()

function show_popup() {
  $('#popup').css('display', 'block')
}
function hide_popup() {
  $('#popup').css('display', 'none')
}
</script>
{% endblock %}
