{% extends 'antri/base.html' %}
{% block style %}
<style>
.card p {
  text-align: center;
  margin-bottom: 0;
}
.masukdaftar {
  display: flex;
  justify-content: center;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
  <p>Silahkan masuk/daftar terlebih dahulu:</p>
  <div class="masukdaftar">
    <div class="button">
      <a href="{% url 'antri:masuk' %}">Masuk</a>
    </div>
    <div class="button">
      <a href="{% url 'antri:daftar' %}">Daftar</a>
    </div>
  </div>
</div>
{% endblock %}
