<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fibrianti.id | Website Pendaftaran Pasien</title>
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="{% static 'antri/media/logo-gigi.ico' %}" />
    <link rel="stylesheet" href="{% static 'antri/css/base.css' %}">
<style>
body {
  background-color: #B9EBE5;
}
body > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body > div > div {
  text-align: center;
}
</style>
  </head>
  <body>
    <div>
      <div>
        <h1>Fibrianti.id</h1>
        <img src="{% static 'antri/media/traffic-cone.svg' %}" alt="cone" />
        <h2>Tidak digunakan :(</h2>
      </div>
    </div>
  </body>
</html>
