{% extends 'antri/base.html' %}
{% block style %}
<style>
th {
  width: 160px;
  margin-top: 0;
  vertical-align: text-top;
  text-align: start;
}
th label {
  padding-top: 10px;
}
td {
  display: flex;
  flex-direction: row-reverse;
  color: red;
  justify-content: flex-end;
  font-size: 14px;
}
td input {
  margin: 10px 0 auto 0;
  height: 0;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
  <form action="{% url 'antri:daftar' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="button" type="submit" value="Buat Akun">
  </form>
</div>
{% endblock %}
