{% extends 'antri/base.html' %}
{% block style %}
<style>
th {
  width: 175px;
  margin-top: 0;
  vertical-align: text-top;
  text-align: start;
}
th label {
  padding-top: 10px;
}
td {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
td input {
  margin: 10px 0 auto 0;
  height: 0;
  width: 200px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}
.errorlist {
  color: red;
  font-size: 13px;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
  <form action="{% url 'antri:daftar' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="button" type="submit" value="Buat KK">
  </form>
</div>
{% endblock %}
