{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'antri/css/daftar-antri.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <div class="title">
    <h1>Daftar Antri</h1>
    <p class="helptext">
    Daftar antri untuk tanggal selain hari ini.
    </p>
  </div>
  <form method="POST" href="{% url 'antri:daftar-antri' %}">
    {% csrf_token %}
    <table id="out-table">
      <tbody>
        <tr id="tr-tempat">
          <th>Tempat:</th>
          <td>{{ form.tempat }}</td>
        </tr>
        <tr id="tr-waktu">
          <th>Waktu:</th>
          <td><div id="td-waktu" class="scroll"></div></td>
          {{ form.jadwal }}
        </tr>
        <tr id="tr-tanggal">
          <th>Tanggal:</th>
          <td><div id="td-tanggal" class="scroll"></div></td>
          {{ form.tanggal }}
        </tr>
        <tr id="tr-pasien">
          <th>Pasien:</th>
          <td id="td-pasien">
            {{ form.pasien_set.errors }}
            <ul>
              {% for pk, option in form.pasien_set.field.widget.choices %}
              <li>
                <label for="id_{{ form.pasien_set.name }}_{{ forloop.counter|add:"-1" }}">
                  <input type="checkbox" name="{{ form.pasien_set.name }}" value="{{ pk }}" id="id_{{ form.pasien_set.name }}_{{ forloop.counter|add:"-1" }}">
                  <span class="checkmark"></span>
                  {{ option }}
                </label>
              </li>
              {% endfor %}
              <li class="addition">
                <a class="new-pasien" href="{% url 'antri:daftar-pasien' %}?prev={{ request.path }}">
                  <span class="plus"></span>
                  Daftar Pasien Baru
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    {{ form.errors }}
    {% comment %}Calendar here{% endcomment %}
    <input class="button" type="hidden" value="Simpan">
  </form>
</div>
{% endblock %}

{% block script %}
<noscript>Please enable javascript.</noscript>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var get_times_url = '{% url 'antri:get-times' %}'
  var get_dates_url = '{% url 'antri:get-dates' %}'
  var get_pasien_url = '{% url 'antri:get-pasien' %}'
</script>
<script src="{% static 'antri/js/daftar-antri.js' %}"></script>
{% endblock %}

