{% load static %}
<div class="navback">
  <div class="navbar">
    <div id="left">
      <a class="item" href="{% url 'antri:beranda' %}">
        <img src="{% static 'antri/media/tooth-solid.svg' %}" height="24px">
      </a>
      <div class="desktop-only">
        <a class="item" href="{% url 'antri:beranda' %}">Beranda</a>
        <a class="item" href="{% url 'antri:tentang' %}">Tentang</a>
      </div>
    </div>
    <div id="right">
      <div class="item menu">
        <div id="bar" onclick="show_menu()">
          <div class="bar1"></div>
          <div class="bar0"></div>
          <div class="bar2"></div>
          <div class="bar0"></div>
          <div class="bar3"></div>
        </div>
        <div id="menu-content">
          <div class="menu-section">
            Akun
          </div>
          {% if request.user.is_authenticated %}
          <div id="menu-username">{{ request.user.username }}</div>
          <a href="{% url 'antri:profil' %}">Profil</a>
          <a href="{% url 'antri:keluar' %}">Keluar</a>
          {% else %}
          <a href="{% url 'antri:masuk' %}">Masuk</a>
          {% endif %}
          <div class="mobile-only">
            <div class="menu-section">
              Halaman Lain
            </div>
            <a href="{% url 'antri:beranda' %}">Beranda</a>
            <a href="{% url 'antri:tentang' %}">Tentang</a>
          </div>
        </div>
        <div class="cover" id="menu-cover" onclick="hide_menu()"></div>
      </div>
    </div>
  </div>
</div>
