{% load static %}
<div class="navback">
  <div class="navbar">
    <div id="left">
      <a id="beranda" class="item" href="{% url 'antri:beranda' %}">
        <img src="{% static 'antri/media/tooth-solid.svg' %}" height="24px"> Beranda
      </a>
      <a class="item" href="{% url 'antri:tentang' %}">
        Tentang
      </a>
    </div>
    {% if request.user.is_authenticated %}
    <div id="right">
      <div class="item menu">
        <div id="bar" onclick="show_menu()">
          <div class="bar1"></div>
          <div class="bar0"></div>
          <div class="bar2"></div>
          <div class="bar0"></div>
          <div class="bar1"></div>
        </div>
        <div id="menu-content">
          <div id="username">{{ request.user.username }}</div>
          <a href="{% url 'antri:profil' %}">Profil</a>
          <a href="{% url 'antri:keluar' %}">Keluar</a>
        </div>
        <div class="cover" id="menu-cover" onclick="hide_menu()"></div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
