{% extends 'antri/daftar.html' %}

{% block content %}
<div class="card">
  {% if user.is_authenticated %}{% if next %}
  <p>Kamu tidak bisa masuk ke halaman ini.
  <a href="{% url 'antri:masuk' %}?next={{ next }}/">Ganti Akun?</a></p>
  {% else %}
  <p>Kamu sudah masuk sebagai pengguna.
  <a href="{% url 'antri:keluar' %}">Keluar?</a></p>
  {% endif %}{% else %}
  <form method="post" action="{% url 'antri:masuk' %}">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    <input class="button" type="submit" value="Masuk">
  </form>
  <p>Belum punya akun? <a href="{% url 'antri:daftar' %}">Buat Akun</a></p>
  {% comment %}TODO reset password{% endcomment %}
  {% endif %}
</div>
{% if form.errors %}
<p id="error">Username atau Password salah.</p>
{% endif %}
{% endblock %}
