{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'antri/css/daftar.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  {% if user.is_authenticated and not next %}
  <p>Kamu sudah masuk sebagai pengguna.
  <a href="{% url 'antri:keluar' %}">Keluar?</a></p>
  {% else %}
  {% if next %}
  <p>Kamu tidak bisa masuk ke halaman ini.
  {% endif %}
  <div id="title">
    <h1>Masuk</h1>
  </div>
  <form method="post" action="{% url 'antri:masuk' %}">
    {% csrf_token %}
    <table>
      {% for field in form %}
      <tr>
        <th>
          <label class="{% if field.field.required %}required{% else %}not-required{% endif %}" for="id_{{ field.name }}">{{ field.label }}</label>
        </th>
        <td>
          {{ field }}
          <div class="info">
            {% if field.errors %}<ul class="errorlist">
              {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>{% endif %}
            {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    <div id="buttons">
      <input class="button" type="submit" value="Masuk">
      <a class="button cancel" href="{% url 'antri:beranda' %}">Kembali</a>
    </div>
  </form>
  <p>Belum punya akun? <a href="{% url 'antri:daftar' %}">Buat Akun</a></p>
  {% comment %}TODO reset password{% endcomment %}
  {% endif %}
</div>
{% if form.errors %}
<p id="error">Username atau Password salah.</p>
{% endif %}
{% endblock %}
