{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'antri/css/daftar.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  {% if user.is_authenticated and not next %}
  <p>Kamu sudah masuk sebagai pengguna.
  <a href="{% url 'antri:keluar' %}">Keluar?</a></p>
  {% else %}
  {% if next %}
  <p>Kamu tidak bisa masuk ke halaman ini.
  {% endif %}
  <div id="title">
    <h1>Masuk</h1>
  </div>
  <form method="post" action="{% url 'antri:masuk' %}">
    {% csrf_token %}
    <table>
      {% for field in form %}
      <tr>
        <th>
          <label class="{% if field.field.required %}required{% else %}not-required{% endif %}" for="id_{{ field.name }}">{{ field.label }}</label>
        </th>
        <td>
          {{ field }}
          <div class="info">
            {% if field.label == "Password" and form.errors %}
            <ul class="errorlist"><li>Username atau Password salah.</li></ul>
            {% endif %}
            {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="buttons">
      <input class="button" type="submit" value="Masuk">
      <a class="button cancel" href="{% url 'antri:beranda' %}">Kembali</a>
    </div>
  </form>
  <a class="button" id="google-login" href="{% url 'social:begin' 'google-oauth2' %}">
    Masuk dengan akun <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" height="18"><span>Google</span>
  </a>
  <p>Belum punya akun? <a href="{% url 'antri:daftar' %}?prev={{ request.path }}">Buat Akun</a></p>
  {% comment %}TODO reset password{% endcomment %}
  {% endif %}
</div>
{% endblock %}
