{% load static %}
<div id="name-card" class="card">
  <img id="logo-gigi" src="{% static 'antri/media/logo-gigi.png' %}" alt="logo-gigi" height="140">
  <div>
    <h1>Praktik Dokter Gigi Fibrianti DP</h1>
    <hr>
    <p>
    <img src="{% static 'antri/media/phone-icon.svg' %}" alt="Telp">
    /
    <img src="{% static 'antri/media/whatsapp-icon.svg' %}" alt="WA"> : 0877 7763 8217
    <br>
    <img src="{% static 'antri/media/phone-icon.svg' %}" alt="Telp"> : 021 7792745
    </p>
  </div>
</div>
