{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<style>
th {
  width: 35%;
  min-width: 144px;
}
th, td {
  vertical-align: top;
  text-align: left;
  padding: 8px;
}
p {
  margin-top: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="card">
  <p><a href="{% url 'antri:beranda' %}">Kembali ke Beranda</a></p>
  <table class="table" id="pengguna">
    {% for label, value in pasien %}
    <tr>
      <th id="label">{{ label }}</td>
      <td id="value">{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
   <a class="button" href="{% url 'antri:ubah-profil' %}">Ubah Profil</a> 
  <hr>
  <table class="table" id="user">
    {% for label, value in user %}
    <tr>
      <th id="label">{{ label }}</td>
      <td id="value">{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
  <a class="button" href="{% url 'antri:ubah-password' %}">Ubah Password</a>
  <hr>
  <p>Nama-nama pasien satu keluarga</p>
  <ul>
    {% for p in keluarga %}
    <li><a href="{% url 'antri:pasien-detail' p.pk %}">{{ p.nama }}</a></li>
    {% endfor %}
    <li><a href="{% url 'antri:pasien-daftar' %}">+ Daftar Pasien Baru</a></li>
  </ul>
</div>
{% endblock %}
