{% extends 'antri/profil.html' %}

{% block content %}
<div class="card">
  <ul>
    <li>{{ object.nama }}</li>
    <li>{{ object.tanggal_lahir }}</li>
    <li>{{ object.jenis_kelamin }}</li>
    <li>{{ object.telp }}</li>
    <li>{{ object.nik }}</li>
    <li>{{ object.kepala_keluarga.nama }}</li>
    <li>{{ object.kepala_keluarga.alamat }}</li>
    <li>{{ object.kepala_keluarga.no_kk }}</li>
    <li>{{ object.user.username }}</li>
    <li>{{ object.waktu_daftar }}</li>
    <li>{{ object.waktu_ubah }}</li>
  </ul>
</div>
{% endblock %}
