{% extends 'antri/base.html' %}

{% block style %}
<style>
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  width: 35%;
  vertical-align: top;
  min-width: 144px;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #ceecee;
}
</style>
{% endblock %}

{% block content %}
<div class="card">
  <table id="pengguna">
    {% for label, value in pengguna %}
    <tr>
      <th id="label">{{ label }}</td>
      <td id="value">{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
   <a class="button" href="{% url 'antri:ubah_profil' %}">Ubah Profil</a> 
  <hr>
  <table id="user">
    {% for label, value in user %}
    <tr>
      <th id="label">{{ label }}</td>
      <td id="value">{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
  <a class="button" href="{% url 'antri:ubah_password' %}">Ubah Password</a>
  <hr>
  <p>Nama-nama pasien satu keluarga</p>
  {% if pasien %}<ul>
    {% for p in pasien %}<li>{{ p }}</li>{% endfor %}
  </ul>{% endif %}
</div>
{% endblock %}
