{% extends 'antri/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'antri/css/profil.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <a class="back" href="{% url 'antri:beranda' %}"><i class="fa fa-chevron-left"></i> Kembali ke Beranda</a>
  <div class="title">
    <h1>Daftar Pasien</h1>
    <p class="helptext">Membuat daftar pasien agar dapat mendaftar untuk antri.</p>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>No.</th>
        <th id="nama-pasien">Nama Pasien</th>
        <th id="nama-kepala-keluarga">Nama Kepala Keluarga</th>
        <th class="ubah">Ubah</th>
      </tr>
      {% for pasien in request.user.pengguna.keluarga.pasien_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ pasien.nama }}</td>
        <td>{{ pasien.kepala_keluarga }}</td>
        <td class="ubah">
          <a href="{% url 'antri:ubah-pasien' pasien.id %}"><span class="edit"><i class="fa fa-pencil"></i></span></a>
          <span class="delete" onclick="hapus_pasien('{{ pasien.id }}', '{{ pasien.nama }}')"><i class="fa fa-trash-o"></i></span>
        </td>
      </tr>
      {% endfor %}
      <tr id="tambah" onclick="window.location='{% url 'antri:daftar-pasien' %}'">
          <td>+</td>
          <td colspan="3">Tambah Pasien</td>
      </tr>
    </tbody>
  </table>
</div>
{% comment %} TODO tambah username lain di keluarga yang sama
<div class="card">
  <div class="title">
    <h1>Daftar Pengguna</h1>
    <p class="helptext">Daftar pasien yang dapat mendaftarkan pasien dari daftar diatas.</p>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>No.</th>
        <th id="username">Username</th>
        <th id="tanggal-dibuat">Tanggal Dibuat</th>
        <th>Hapus?</th>
      </tr>
      {% for pengguna in request.user.pengguna.keluarga.pengguna_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ pengguna.user.username }}</td>
        <td>{{ pengguna.user.date_joined }}</td>
        <td></td>
      </tr>
      {% endfor %}
      <tr id="tambah" onclick="window.location='/'">
          <td>+</td>
          <td colspan="3">Tambah Pengguna</td>
      </tr>
    </tbody>
  </table>
</div>
{% endcomment %}
<div class="card">
  <div class="title">
    <h1>Pengaturan</h1>
  </div>
  <table class="table" id="pengaturan">
    <tr>
      <th>Username</th>
      <td>{{ request.user.username }}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td>********</td>
    </tr>
  </table>
  <div class="buttons">
    <a class="button" href="{% url 'antri:ubah-username' %}">Ubah Username</a>
    {% if not request.user.social_auth.exists %}
    <a class="button" href="{% url 'antri:ubah-password' %}">Ubah Password</a>
    {% endif %}
  </div>
{% endblock %}

{% block script %}
<script>
  var hapus_pasien_url = '{% url 'antri:hapus-pasien' %}'
</script>
<script src="{% static 'antri/js/profil.js' %}"></script>
{% endblock %}
