{% extends 'antri/base.html' %}
{% block content %}
<div class="card">
  <div class="title">
    <h1>Tentang Bu Dokter</h1>
  </div>
  <p>
  Ibu adalah seorang dokter gigi alumni Fakultas Kedokteran Gigi Universitas Gajah Mada.
  Masa kecil di Wonosobo, kuliah di Yogyakarta, menjadi PNS,
  pernah bekerja di SPRG banda aceh, kemudian pindah ke Jakarta.
  Ibu pernah bekerja di Puskesmas Mampang Prapatan Jakarta Selatan.
  Saat ini bekerja di Rumah Sakit RSUD Jagakarsa Jakarta Selatan.
  </p>
  <p>
  Ibu sangat mencintai pekerjaannya sebagai dokter gigi.
  Alasannya karena bisa membantu dan bermanfaat untuk orang lain,
  hobi ibu membaca buku dan <i>travelling</i>.
  Dengan membaca buku seperti menjelajah ke cakrawala yang baru,
  <i>travelling</i> untuk mengagungi dan mensyukuri ciptaan Allah SWT.
  </p>
</div>
{% endblock %}
