{% extends 'antri/base.html' %}
{% block style %}
<style>
th {
  width: 140px;
  vertical-align: top;
  text-align: left;
  padding: 10px;
}
td input {
  margin: 10px 0 auto 0;
  height: 0;
  width: 200px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}
textarea {
  margin: 10px 0 auto 0;
  width: 360px;
  height: 120px;
  padding: 8px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
  <form method="post">{% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="button" type="submit" value="{{ button_label }}">
  </form>
</div>
{% endblock %}
