{% extends 'antri/base.html' %}
{% block style %}
<style>
.flex {
  display: flex;
  width: 100%
}
@media (max-width: 640px) {
  .flex {
    flex-direction: column;
  }
}
.calendar {
  width: 640px;
}
table {
  table-layout: fixed;
  border-radius: 10px;
  width: 640px;
}
th {
  font-weight: normal;
}
.bulan {
  margin: 4px;
  padding: 8px;
  background-color: #009688;
  color: #fff;
}
.margin {
  margin: 4px;
}
.cell {
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  background-color: #eff0ed;
  transition: background-color 0.2s ease-in-out;
}
.month th .cell {
  cursor: auto;
  background-color: #abdad5;
}
.sun .cell { background-color: #fcd8e7; }
.today.cell { background-color: yellow; }
.cell:hover { background-color: #d4d4d4; }
.cell:active {
  background-color: #abdad5;
  transition: background-color 0.01s ease-in-out;
}
.date {
  font-size: 14px;
  color: #009688;
  vertical-align: top;
}
.data {
  font-weight: bold;
  float: right;
  color: black;
}
.navigation {
  display: flex;
  justify-content: center;
}
</style>
{% endblock %}
{% block content %}
<div class="flex">
  <div class="card">
    <div class="calendar">
      {{ calendar }}
      <div class="navigation">
        <a class="button" href="{% url 'antri:utama_month' data.prev_year data.prev_month %}">Sebelum</a>
        <a class="button" href="{% url 'antri:utama_month' data.next_year data.next_month %}">Setelah</a>
      </div>
    </div>
  </div>
  <div class="card">
    <p>
    <b>Tanggal:</b>
    <div id="date">Silahkan klik sebuah tanggal</div>
    </p>
    <form id="#theForm" action="{% url 'antri:tambah' %}" method="POST">
      {% csrf_token %}
      <input type='hidden' name='tahun' id='tahun'>
      <input type='hidden' name='bulan' id='bulan'>
      <input type='hidden' name='hari' id='hari'>
      <input type="submit" class="button" value="tambah">
    </form>
    <div id="daftar"></div>
    <p>
    <b>Keterangan:</b>
    <ol>
      <div id="details">Nama2 yang daftar</div>
    </ol>
    </p>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }
function render(d, m, y) {
  $.ajax({
    url: '/data.json',
    method: 'GET',
    data: {
      "day": d,
      "month": m,
      "year": y
    },
    success: function(result) {
      console.log(result)
      data = result.data

      // change to current date
      $('#date').html(d + ' ' + result.month_name + ' ' + y)
      $('#tahun').val(y)
      $('#bulan').val(m)
      $('#hari').val(d)

      // list pengguna who booked that day
      $('#details').html('')
      if (data === null) {
        $('#details').html('Tidak ada yang daftar')
      }
      else {
        $.each(data, function(index, value) {
          $('#details').append('<li>' + escapeHtml(value.nama_pendaftar) + '</li>')
        })
      }
    }
//    error: function(a, b) {
//      console.log(a)
//      console.log(b)
//    }
  })
}
function clicked() {
  if (confirm('Do you want to book?')) {
    alert('yes')
  } else {
    return false;
  }
}

</script>
{% endblock %}
