{% extends 'antri/base.html' %}
{% block style %}
<style>
.calendar {
  width: 640px;
}
table {
  table-layout: fixed;
  border-radius: 10px;
  width: 640px;
}
th {
  font-weight: normal;
}
.bulan {
  margin: 4px;
  padding: 8px;
  background-color: #009688;
  color: #fff;
}
.margin {
  margin: 4px;
}
.cell {
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  background-color: #eff0ed;
  transition: background-color 0.2s ease-in-out;
}
.month th .cell {
  cursor: auto;
  background-color: #abdad5;
}
.sun .cell { background-color: #fcd8e7; }
.today.cell { background-color: yellow; }
.cell:hover { background-color: #d4d4d4; }
.cell:active {
  background-color: #abdad5;
  transition: background-color 0.01s ease-in-out;
}
.date {
  font-size: 14px;
  color: #009688;
  vertical-align: top;
}
.data {
  font-weight: bold;
  float: right;
  color: black;
}
.navigation {
  display: flex;
  justify-content: center;
}
</style>
{% endblock %}
{% block content %}
<div class="card">
  <div class="calendar">
    {{ calendar }}
    <div class="navigation">
      <a class="button" href="{% url 'antri:utama_month' data.prev_year data.prev_month %}">Sebelum</a>
      <a class="button" href="{% url 'antri:utama_month' data.next_year data.next_month %}">Setelah</a>
    </div>
  </div>
  <div id="details" />
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }
function render(d, m, y) {
  $.ajax({
    url: '/data.json',
    method: 'GET',
    data: {
      "day": d,
      "month": m,
      "year": y
    },
    success: function(result) {
      //console.log(result.data)
      data = result.data
      $('#details').html('')
      if (data === null) {
        $('#details').html('<p>Tidak ada yang daftar</p>')
      }
      else {
        $.each(data, function(index, value) {
          $('#details').append('<p>' + Number(index + 1) + ". " + escapeHtml(value.nama_pendaftar) + '</p>')
        })
      }
    }
//    error: function(a, b) {
//      console.log(a)
//      console.log(b)
//    }
  })
}
function calendar(m, y) {
  $.ajax({
    url: '/data.json',
    method: 'GET',
    data: {
      "month": m,
      "year": y
    },
    success: function(result) {
    }
//    error: function(a, b) {
//      console.log(a)
//      console.log(b)
//    }
  })

}
</script>
{% endblock %}
